
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}
.block-menu {
    display: block;
    width: 200px;
    background-color: rgb(150, 150, 250);
    padding: 10px;
    color: white;
    border: 2px solid rgba(39, 39, 116, 1);
    margin: 5px 0;
    text-decoration: none;
}
.inline-menu {
    display: inline-block;
    width: 150px;
    background-color: rgb(250, 150, 150);
    padding: 10px;
    color: white;
    border: 2px solid rgb(150, 50, 50);
    margin: 0 5px;
    text-decoration: none;
}
.float-menu {
    float: left;
    width: 150px;
    background-color: rgb(150, 250, 150);
    padding: 10px;
    color: white;
    border: 1px solid rgb(50, 150, 50);
    margin: 20px;
    float : left;
    
}
.clear-example{
    clear: both;
    background-color: aqua;
    padding: 10px;
    margin : 20px 0;

}